
__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/

*.db
*.sqlite
*.sqlite3
*.db-journal
*.db-wal
*.db-shm


.vscode/
.idea/


desktop.ini
.DS_Store


.env
.env.*
!.env.example


FAQ_cascade_sqlalchemy.md
anotacao.md
